button {
	display: block;
	margin: 20px auto;
	width: 500px;
	height: 50px;
	background-color: #178fec;
}

button:hover, input[type="submit"]:hover{
	border: 2px solid black;
}

.addTweet {
	width: 500px;
	margin: 0 auto 10px;
}

input {
	margin: 5px;
}

input[type="submit"] {
	background-color: #5186af;
	border-radius: 3px;
	color: white;
} 

.tweet {
	width: 500px;
	margin: 0 auto;
	padding-top: 5px;
	border-top: 1px solid black;
	position: relative;
}

.handle {
	font: 16px helvetica;
	font-weight: bold;
	margin-bottom: 5px;
	/*border: 1px solid blue;*/
	width: 50%;
	text-decoration: none;
	color: black;
}

 a:hover {
	color: #028598;
	text-decoration: underline;
}

.message {
	font: 14px/16px helvetica;
	margin-top: 5px;
	/*border: 1px solid green;*/

	
}

.time {
	
	color: #028598;
	float: right;
	margin-top: 10px;
	/*border: 1px solid red;*/
	display: block;
	width: 50%;

}

.hide {
	display: none;
}