html {
	height: 100%;
}

body {
	background: linear-gradient(to top right, green, white);
	background-repeat: no-repeat;
	background-size: 100% 120%;
	height: 100%;
}

button {
	display: block;
	margin: 20px auto;
	width: 500px;
	height: 50px;
	background-color: #366dc8;
	border: 1px solid white;
	color: white;
	font-size: 16px;
}

button:hover, input[type="submit"]:hover{
	border: 2px solid black;
}

.addTweet {
	width: 500px;
	margin: 0 auto 10px;
}

input {
	margin: 5px;
}

input[type="submit"] {
	background-color: #5186af;
	border-radius: 3px;
	color: white;
} 

#container {
	height: 100%;
}

#tweets {
	background-color: white;
	width: 500px;
	margin: 0 auto;
	padding: 10px;
	overflow: scroll;
	max-height: 80%;
}

.tweet {
	width: 500px;
	margin: 0 auto;
	padding-top: 5px;
	border-top: 1px solid black;
	position: relative;
}

.handle {
	font: 16px helvetica;
	font-weight: bold;
	margin-bottom: 5px;
	/*border: 1px solid blue;*/
	width: 50%;
	text-decoration: none;
	color: black;
}

 a:hover {
	color: #028598;
	text-decoration: underline;
}

.message {
	font: 14px/16px helvetica;
	margin-top: 5px;
	/*border: 1px solid green;*/

	
}

.time {
	
	color: #028598;
	float: right;
	margin-top: 10px;
	/*border: 1px solid red;*/
	display: block;
	width: 50%;

}

.hide {
	display: none;
}